body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #dc0902;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #d70a0a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #31a200;
}

#listaPedidos {
    margin-top: 20px;
}

#listaPedidos div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}